<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Courses</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div ng-controller="HackerNewsCtrl">

<TABLE border="2" cellpadding="6" cellspacing="4"
  summary="Skoltech courses">
  <TR>
    <TH style = "font-size: 16pt; text-align: center;" colspan="5" scope="colgroup">Current</TH>

  </TR>
  <TR>
    <TH style = "font-size: 12pt; text-align: left; width: 70%;" colspan="1" scope="colgroup">Machine Learning</TH>
  </TR>
  <TR>
    <TH style = "font-size: 12pt; text-align: left; width: 70%;" colspan="1" scope="colgroup">Systems Optimization</TH>
  </TR>
  <TR>
    <TH style = "font-size: 12pt; text-align: left; width: 70%;" colspan="1" scope="colgroup">Art and Science</TH>
  </TR>
  <TR>
    <TH style = "font-size: 16pt; text-align: center;" colspan="5" scope="colgroup">Past</TH>
  </TR>
  <TR>
    <TH style = "font-size: 12pt; text-align: left; width: 70%;" colspan="1" scope="colgroup">Ideas to Impact</TH>
  </TR>
  <TR>
    <TH style = "font-size: 12pt; text-align: left; width: 70%;" colspan="1" scope="colgroup">Numerical Simulation</TH>
  </TR>
</TABLE>

</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>